.homepage {
  background-color: #b5c0d0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.homepage .div {
  background-color: #b5c0d0;
  overflow:hidden;
  width: 1280px;
  height: 1786px;
  position: relative;
}

.homepage .overlap {
  position: relative; 
  overflow: auto;
  width: 1282px;
  height: 639px;
  top: 88px;
  left: -2px;
}

.homepage .overlap video {
  position: absolute;
  overflow: visible;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homepage .rectangle {
  position: relative;
  width: 1280px;
  height: 636px;
  left: 2px;
  background-color: #000000;
  opacity: 0.2;
}

.homepage .overlap-group {
  position: absolute;
  width: 1304px;
  height: 89px;
  top: -1px;
  left: -12px;
}

.homepage .rectangle-2 {
  position: absolute;
  width: 1304px;
  height: 88px;
  top: 1px;
  left: 0;
  background-color: #ffffff;
  opacity: 0.6;
}

.homepage .group {
  position: absolute;
  width: 104px;
  height: 28px;
  top: 33px;
  left: 1135px;
}

.homepage .text-wrapper {
  position: absolute;
  width: 79px;
  top: 0;
  left: 23px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "M PLUS Code Latin", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.homepage .star {
  position: absolute;
  width: 22px;
  height: 13px;
  top: 8px;
  left: 1px;
}

.homepage .overlap-wrapper {
  position: absolute;
  width: 107px;
  height: 36px;
  top: 30px;
  left: 830px;
}

.homepage .overlap-2 {
  position: relative;
  width: 105px;
  height: 36px;
  background-color: #b2c1e7;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px #00000040;
}

.homepage .text-wrapper-2 {
  position: absolute;
  width: 53px;
  top: 1px;
  left: 33px;
  font-family: "M PLUS Code Latin", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.homepage .img {
  position: absolute;
  width: 22px;
  height: 13px;
  top: 10px;
  left: 8px;
}

.homepage .group-2 {
  position: absolute;
  width: 130px;
  height: 28px;
  top: 33px;
  left: 971px;
}

.homepage .text-wrapper-3 {
  position: absolute;
  width: 106px;
  top: 0;
  left: 23px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "M PLUS Code Latin", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.homepage .text-wrapper-4 {
  position: relative;
  width: 545px;
  height: 88px;
  top: 28px;
  left: 159px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .element {
  position: absolute;
  width: 88px;
  height: 78px;
  top: 6px;
  left: 60px;
  object-fit: cover;
}

.homepage .overlap-3 {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 758px;
  left: 69px;
}

.homepage .overlap-4 {
  position: absolute;
  width: 483px;
  height: 561px;
  top: 0;
  left: 0;
}

.homepage .overlap-group-wrapper {
  position: absolute;
  width: 187px;
  height: 115px;
  top: 119px;
  left: 0;
  opacity: 0.5;
}

.homepage .overlap-group-2 {
  position: relative;
  height: 115px;
}

.homepage .ellipse {
  position: absolute;
  width: 80px;
  height: 77px;
  top: 30px;
  left: 0;
  background-color: #f5e8dd;
  border-radius: 40.01px/38.64px;
}

.homepage .ellipse-2 {
  position: absolute;
  width: 80px;
  height: 77px;
  top: 29px;
  left: 45px;
  background-color: #f5e8dd;
  border-radius: 40.01px/38.64px;
}

.homepage .ellipse-3 {
  position: absolute;
  width: 80px;
  height: 77px;
  top: 6px;
  left: 88px;
  background-color: #f5e8dd;
  border-radius: 40.01px/38.64px;
}

.homepage .ellipse-4 {
  position: absolute;
  width: 80px;
  height: 77px;
  top: 38px;
  left: 107px;
  background-color: #f5e8dd;
  border-radius: 40.01px/38.64px;
}

.homepage .ellipse-5 {
  position: absolute;
  width: 64px;
  height: 69px;
  top: 0;
  left: 48px;
  background-color: #f5e8dd;
  border-radius: 32.01px/34.5px;
}

.homepage .div-wrapper {
  position: absolute;
  width: 169px;
  height: 94px;
  top: 63px;
  left: 314px;
  opacity: 0.5;
}

.homepage .overlap-5 {
  position: relative;
  height: 94px;
}

.homepage .ellipse-6 {
  width: 72px;
  height: 63px;
  top: 25px;
  border-radius: 36.16px/31.44px;
  position: absolute;
  left: 0;
  background-color: #f5e8dd;
}

.homepage .ellipse-7 {
  width: 72px;
  height: 63px;
  top: 24px;
  left: 40px;
  border-radius: 36.16px/31.44px;
  position: absolute;
  background-color: #f5e8dd;
}

.homepage .ellipse-8 {
  width: 72px;
  height: 63px;
  top: 5px;
  left: 80px;
  border-radius: 36.16px/31.44px;
  position: absolute;
  background-color: #f5e8dd;
}

.homepage .ellipse-9 {
  width: 72px;
  height: 63px;
  top: 31px;
  left: 97px;
  border-radius: 36.16px/31.44px;
  position: absolute;
  background-color: #f5e8dd;
}

.homepage .ellipse-10 {
  width: 58px;
  height: 56px;
  left: 43px;
  border-radius: 28.93px/28.07px;
  position: absolute;
  top: 0;
  background-color: #f5e8dd;
}

.homepage .ellipse-11 {
  position: absolute;
  width: 318px;
  height: 91px;
  top: 461px;
  left: 36px;
  background-color: #000000;
  border-radius: 159px/45.5px;
  filter: blur(80px);
  opacity: 0.45;
}

.homepage .dup {
  position: absolute;
  width: 317px;
  height: 561px;
  top: 0;
  left: 35px;
}

.homepage .overlap-6 {
  position: absolute;
  width: 674px;
  height: 277px;
  top: 73px;
  left: 446px;
}

.homepage .group-3 {
  position: absolute;
  width: 187px;
  height: 115px;
  top: 0;
  left: 487px;
  opacity: 0.5;
}

.homepage .group-4 {
  position: absolute;
  width: 177px;
  height: 122px;
  top: 69px;
  left: 164px;
  opacity: 0.5;
}

.homepage .overlap-7 {
  position: relative;
  height: 122px;
}

.homepage .ellipse-12 {
  width: 76px;
  height: 82px;
  top: 32px;
  border-radius: 37.87px/41px;
  position: absolute;
  left: 0;
  background-color: #f5e8dd;
}

.homepage .ellipse-13 {
  width: 76px;
  height: 82px;
  top: 31px;
  left: 42px;
  border-radius: 37.87px/41px;
  position: absolute;
  background-color: #f5e8dd;
}

.homepage .ellipse-14 {
  width: 76px;
  height: 82px;
  top: 7px;
  left: 84px;
  border-radius: 37.87px/41px;
  position: absolute;
  background-color: #f5e8dd;
}

.homepage .ellipse-15 {
  width: 76px;
  height: 82px;
  top: 40px;
  left: 101px;
  border-radius: 37.87px/41px;
  position: absolute;
  background-color: #f5e8dd;
}

.homepage .ellipse-16 {
  width: 61px;
  height: 73px;
  left: 45px;
  border-radius: 30.3px/36.6px;
  position: absolute;
  top: 0;
  background-color: #f5e8dd;
}

.homepage .hi-there-i-m {
  position: absolute;
  width: 524px;
  top: 98px;
  left: 0;
  font-family: "M PLUS Code Latin", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 65px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .overlap-8 {
  position: absolute;
  width: 866px;
  height: 552px;
  top: 372px;
  left: 446px;
}

.homepage .comp {
  position: absolute;
  width: 567px;
  top: 0;
  left: 0;
  font-family: "M PLUS Code Latin", Helvetica;
  font-weight: 400;
  color: #4f463d;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .span {
  font-family: "M PLUS Code Latin", Helvetica;
  font-weight: 400;
  color: #4f463d;
  font-size: 35px;
  letter-spacing: 0;
}

.homepage .cloud {
  position: absolute;
  width: 669px;
  height: 473px;
  top: 79px;
  left: 69px;
  background-blend-mode: screen;
  object-fit: cover;
}

.homepage .text-wrapper-6 {
  position: absolute;
  width: 567px;
  top: 255px;
  left: 299px;
  font-family: "M PLUS Code Latin", Helvetica;
  font-weight: 700;
  color: #4f463d;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .element-2 {
  position: absolute;
  width: 101px;
  height: 99px;
  top: 318px;
  left: 190px;
  object-fit: cover;
}

.homepage .element-3 {
  position: absolute;
  width: 110px;
  height: 103px;
  top: 339px;
  left: 303px;
  object-fit: cover;
}

.homepage .black-white-modern {
  position: absolute;
  width: 87px;
  height: 81px;
  top: 327px;
  left: 439px;
  object-fit: cover;
}

.homepage .element-4 {
  position: absolute;
  width: 106px;
  height: 105px;
  top: 336px;
  left: 544px;
  object-fit: cover;
}

.homepage .group-5 {
  position: absolute;
  width: 1282px;
  height: 167px;
  top: 1754px;
  left: 0;
}

.homepage .overlap-9 {
  position: relative;
  width: 1280px;
  height: 167px;
}

.homepage .rectangle-3 {
  position: absolute;
  width: 1280px;
  height: 32px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  opacity: 0.6;
}

.homepage .p {
  position: absolute;
  width: 823px;
  top: 8px;
  left: 224px;
  font-family: "M PLUS Code Latin", Helvetica;
  font-weight: 400;
  color: #4f463d;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .github {
  position: absolute;
  width: 34px;
  height: 28px;
  top: 4px;
  left: 41px;
  object-fit: cover;
}

.homepage .email {
  position: absolute;
  width: 34px;
  height: 28px;
  top: 4px;
  left: 127px;
  object-fit: cover;
}

.homepage .fb {
  position: absolute;
  width: 35px;
  height: 28px;
  top: 4px;
  left: 71px;
  object-fit: cover;
}

.homepage .black-white-modern-2 {
  position: absolute;
  width: 26px;
  height: 25px;
  top: 5px;
  left: 104px;
  object-fit: cover;
}

.thanks{
  position: absolute;
  top: 170%;
  left: 15%;
  width: 70%;
  height: 600%;
}

/* Tablet Viewport */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

.homepage .dup {
  position: absolute;
  width: 15em;
  height: 30em;
  top: 0;
  left: 35px;
}

.homepage .hi-there-i-m {
  position: absolute;
  width: 8em;
  top: 2em;
  left: -3em;
  font-family: "M PLUS Code Latin", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 3em;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .span {
  position: inherit;
  width: 20em;
  top: -1em;
  left: -5em;
  font-family: "M PLUS Code Latin", Helvetica;
  font-weight: 400;
  color: #4f463d;
  font-size: 0.8em;
  letter-spacing: 0;
}

.homepage .cloud {
  position: absolute;
  background-size: contain;
  width: 30em;
  height: 22em;
  top: 3em;
  left: -15em;
  background-blend-mode: screen;
  object-fit: cover;
}

/* Text */
.homepage .text-wrapper-6 {
  position: absolute;
  width: 20em;
  top: 7.5em;
  left: -3em;
  font-family: "M PLUS Code Latin", Helvetica;
  font-weight: 700;
  color: #4f463d;
  font-size: 1.5em;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .element-2{
  position: absolute;
  width: 5em;
  height: 5em;
  top: 14em;
  left: -9em;
  object-fit: cover;
}

.homepage .element-3{
position: absolute;
width: 5em;
height: 5em;
top: 16em;
left: -4em;
object-fit: cover;
}

.homepage .black-white-modern{
position: absolute;
width: 4em;
height: 4em;
top: 14em;
left: 1.5em;
object-fit: cover;
}
.homepage .element-4{
position: absolute;
width: 5em;
height: 5em;
top: 15em;
left: 6em;
object-fit: cover;
}

.homepage {
  flex-direction: column;
  overflow: visible;
}

.homepage .div {
  width: 60rem;
  height: 100rem;
}

.homepage .overlap {
  width: 60rem;
  height: 30rem;
  overflow: visible;
}

.homepage .overlap video {
  position: absolute;
  overflow: visible;
}

.homepage .group-5{
  position: absolute;
  width: 50em;
  height: 9em;
  top: 98em;
  left: 0;
}

.homepage .p{
position: absolute;
width: 40em;
top: 0.5em;
left: 14em;
font-family: "M PLUS Code Latin", Helvetica;
font-weight: 400;
color: #4f463d;
font-size: 0.9375em;
text-align: center;
letter-spacing: 0;
line-height: normal;
}

}

  /* Phone Viewport */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .homepage .dup {
    position: absolute;
    width: 15em;
    height: 30em;
    top: 0;
    left: 35px;
  }
  
  .homepage .hi-there-i-m {
    position: absolute;
    width: 8em;
    top: 2em;
    left: -3em;
    font-family: "M PLUS Code Latin", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 3em;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage .span {
    position: inherit;
    width: 20em;
    top: -1em;
    left: -5em;
    font-family: "M PLUS Code Latin", Helvetica;
    font-weight: 400;
    color: #4f463d;
    font-size: 0.8em;
    letter-spacing: 0;
  }
  
  .homepage .cloud {
    position: absolute;
    background-size: contain;
    width: 30em;
    height: 22em;
    top: 3em;
    left: -15em;
    background-blend-mode: screen;
    object-fit: cover;
  }
  
  /* Text */
  .homepage .text-wrapper-6 {
    position: absolute;
    width: 20em;
    top: 7.5em;
    left: -3em;
    font-family: "M PLUS Code Latin", Helvetica;
    font-weight: 700;
    color: #4f463d;
    font-size: 1.5em;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage .element-2{
    position: absolute;
    width: 5em;
    height: 5em;
    top: 14em;
    left: -9em;
    object-fit: cover;
  }
  
  .homepage .element-3{
    position: absolute;
    width: 5em;
    height: 5em;
    top: 16em;
    left: -4em;
    object-fit: cover;
  }
  
  .homepage .black-white-modern{
    position: absolute;
    width: 4em;
    height: 4em;
    top: 14em;
    left: 1.5em;
    object-fit: cover;
  }
  
  .homepage .element-4{
    position: absolute;
    width: 5em;
    height: 5em;
    top: 15em;
    left: 6em;
    object-fit: cover;
  }
  
  .homepage {
    flex-direction: column;
    overflow: inherit;
    margin: 0;
    padding: 0;
  }
  
  .homepage .div {
    width: 60rem;
    height: 100rem;
  }
  
  .homepage .overlap {
    width: 60rem;
    height: 30rem;
    overflow: visible;
  }
  
  .homepage .overlap video {
    position: absolute;
    overflow: visible;
  }
  
  .homepage .group-5{
    position: absolute;
    width: 50em;
    height: 9em;
    top: 98em;
    left: 0;
  }
  
  .homepage .p{
    position: absolute;
    width: 40em;
    top: 0.5em;
    left: 14em;
    font-family: "M PLUS Code Latin", Helvetica;
    font-weight: 400;
    color: #4f463d;
   
  }
}
